<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>


<body class="bg-dark text-white">
  <div class="py-5 h-25">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1 class="display-1">
            <font face = "OCR A Std">Panda Laotie</font>
          </h1>
          <h5>
            <font face = "OCR A Std">
              ----------------------------------------------------------
            </font>
          </h5>
          <h2>
            <font face = "OCR A Std">
                A Visual-Based Security System
            </font>
          </h2>
        </div>
        <div class = "col-md-2">
          <img class="img-fluid d-block" src="/static/PandaLaotie1.png" width = 300 height = 300>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="">
            <font face = "OCR A Std">Supported by CV technology, Panda Laotie is a system that allows you to <font color = '#A8FFA8'>keep a record of all the visitors to your home.</font>
            </font>
          </h5>
        </div>
      </div>
    </div>
  </div>


  <div class = "py-5">
    <div class = "container">
      <div class = "row">
      <div class = "col-md-4">
        <img class ="img-fluid d-block" src = "/static/PandaLaotie1.png">
      </div>
      <div class = "col-md-8">
        <h4 class=>
          <font face = "OCR A Std">name</font>
          </font>
        </h4>
        <h5 class=>
          <font face = "OCR A Std">Welcome Back!
          </font>
        </h5>
      </div>
      </div>
    </div>
  </div>


  <div>
    <h5>
    <div class = "container">
      <button type="button" onclick = "addsomething()">givemesomething</button>
    <font face = "OCR A Std">All of the <font color = 'cyan'>portraits</font> are stored here.
    </font>
  </h5>
  </div>
  </div>

  <div class="library">
  <div class="py-5" id = "row1">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id = "text1" class= "mx-auto">
            <br> </p>
          <img id = "pic1" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text2" class="mx-auto"></p>
          <img id = "pic2" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text3" class="mx-auto"></p>
          <img id = "pic3" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text4" class="mx-auto">
            <br>
          </p>
          <img id = "pic4" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"id = "row2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id = "text5" class="mx-auto">
            <br> </p>
          <img id = "pic5" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text6" class="mx-auto"></p>
          <img id = "pic6" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text7" class="mx-auto"></p>
          <img id = "pic7" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text8" class="mx-auto">
            <br>
          </p>
          <img id = "pic8" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"id = "row3">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id = "text9" class="mx-auto">
            <br> </p>
          <img id = "pic9" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text10" class="mx-auto"></p>
          <img id = "pic10" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text11" class="mx-auto"></p>
          <img id = "pic11" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text12" class="mx-auto">
            <br>
          </p>
          <img id = "pic12" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"id = "row4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id = "text13" class="mx-auto">
            <br> </p>
          <img id = "pic13" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text14" class="mx-auto"></p>
          <img id = "pic14" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text15" class="mx-auto"></p>
          <img id = "pic15" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text16" class="mx-auto">
            <br>
          </p>
          <img id = "pic16" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"id = "row5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id = "text17" class="mx-auto">
            <br> </p>
          <img id = "pic17" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text18" class="mx-auto"> </p>
          <img id = "pic18" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text19" class="mx-auto"></p>
          <img id = "pic19" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
        <div class="col-md-3">
          <p id = "text20" class="mx-auto">
            <br>
          </p>
          <img id = "pic20" class="img-fluid d-block" src="" width = 200 height = 200>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


  <div id = "time">
    Clock loading...
  </div>




</body>


<script type = "text/javascript">

//--------------------------------------------------------Initialization------------------------------------------------------------------------------
var
  PortraitCount = 0,
  pics = [$('#pic1'),$('#pic2'),$('#pic3'),$('#pic4'),$('#pic5'),$('#pic6'),$('#pic7'),$('#pic8'),$('#pic9'),$('#pic10'),$('#pic11'),$('#pic12'),$('#pic13'),$('#pic14'),$('#pic15'),$('#pic16'),$('#pic17'),$('#pic18'),$('#pic19'),$('#pic20')],
  texts = [$('#text1'),$('#text2'),$('#text3'),$('#text4'),$('#text5'),$('#text6'),$('#text7'),$('#text8'),$('#text9'),$('#text10'),$('#text11'),$('#text12'),$('#text13'),$('#text14'),$('#text15'),$('#text16'),$('#text17'),$('#text18'),$('#text19'),$('#text20')],
  rows = [$('#row1'),$('#row2'),$('#row3'),$('#row4'),$('#row5')];





//////////////////////////testingFunctions//////////////////////////

function addsomething(){
var p1 = new portrait('/static/PandaLaotie1.png','Panda',PortraitCount);
p1.show();
}
//////////////////////////testingFunctions//////////////////////////



//clock--------------------------------------------------------------------------------------------------------------------------------------------------------------------
window.onload = function(){
    var clock = document.getElementById("time");
    clock.style.font = '20px OCR A Std';
    clock.style.color = 'white';
    setInterval(function(){
        var now = new Date();
        clock.innerHTML = 'Designed by Panda Laotie. All Rights Reserved. Time: ' + now.getFullYear() + '.' + (now.getMonth()+1) + '.' + now.getDate() + '   ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
    }
    ,100);
}
//addingPortrait-----------------------------------------------------------------------------------------------------------------------------------

class portrait{
  constructor(pic,name,ndx){
  this.name = name;
  this.path = pic;
  this.ndx = ndx;
  PortraitCount++;
  }
  show(){
  document.getElementById('pic'+(this.ndx+1)).style.opacity = 0;
  document.getElementById('text'+(this.ndx+1)).style.opacity = 0;
  pics[this.ndx].attr("src",this.path);
  texts[this.ndx].text(this.name);
  fadeIn(this.ndx);
  }
  hide(){
  pics[this.ndx].attr("src","");
  texts[this.ndx].text("");
  }
}

function fadeIn(ndx){
var  opaTemp = 0;
  var fading = window.setInterval(function(){
  document.getElementById('pic'+(ndx+1)).style.opacity = opaTemp;
  document.getElementById('text'+(ndx+1)).style.opacity = opaTemp;
  console.log(opaTemp);
  opaTemp += 0.05;
  console.log(document.getElementById('text'+(ndx+1)).opacity);
  },50);
  window.setTimeout(function(){
  clearInterval(fading);
  },1000);
}


function fadeOut(ndx){
var  opaTemp = 1;
  var fading = window.setInterval(function(){
  document.getElementById('pic'+(ndx+1)).style.opacity = opaTemp;
  document.getElementById('text'+(ndx+1)).style.opacity = opaTemp;
  console.log(opaTemp);
  opaTemp -= 0.06;
  console.log(document.getElementById('text'+(ndx+1)).opacity);
  },50);
  window.setTimeout(function(){
  clearInterval(fading);
  },1000);
}


</script>



</html>